body {
	font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
	color: #73879C;
}

.page-content,body {
	background: #fafafa;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

h3 {
	font-size: 16px;
    font-weight: 400;
}

.panel {
	width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    position: relative;
    transition: all .2s ease;
}

.panel-title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    position: relative;
}

.panel {
	margin-bottom: 30px;
}

.panel-title {
	margin-bottom: 10px;
}

.panel-title h2 {
    margin: 5px 0 6px;
    display: inline-block;
    padding-right: 60px;
}

.panel_toolbox {
	position: absolute;
	right: 0px;
	top: 0;
}

.panel_toolbox>li {
    float: left;
    cursor: pointer;
}

.panel_toolbox>li>a {
    padding: 5px;
    color: #C5C7CB;
    font-size: 14px;
}

.panel-content {
	width: 100%;
    padding: 0 5px 6px;
    float: left;
    clear: both;
    margin-top: 5px;
}

.panel-content .form-label {
	display: inline-block;
	margin: 10px 0;
	font-weight: 700;
}

.button-device {
	float: right;
}

.panel-content .btn-group, .btn-padrao {
	margin: 10px 0;
	width: 100%;
}